VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=dain-happy.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=dain-happy
VITE_FIREBASE_STORAGE_BUCKET=dain-happy.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_sender_id_here
VITE_FIREBASE_APP_ID=your_app_id_here
